{{- $base := .base | default "" -}}
{{- $file := .file -}}

{{- $root := $base | replaceRE "//+" "/" -}}
{{- $folder := printf "static/%s" $root -}}

{{- $out := slice -}}

{{- if fileExists $folder -}}

  {{- $files := readDir $folder -}}

  {{- range $files -}}

    {{- $name := .Name -}}

    {{- if and $file (strings.HasPrefix $name $file) -}}

      {{- $ext := lower (path.Ext $name) -}}
      {{- $full := printf "%s/%s" $root $name -}}

      {{- if or (eq $ext ".jpg") (eq $ext ".png") -}}
        {{- $out = $out | append (printf "image|%s" $full) -}}

      {{- else if eq $ext ".pdf" -}}
        {{- $out = $out | append (printf "pdf|%s" $full) -}}

      {{- else if eq $ext ".mp3" -}}

        {{- $label := "SATB" -}}
        {{- $nameLower := lower $name -}}

        {{- if strings.HasSuffix $nameLower "-s.mp3" -}} {{- $label = "S" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-s2.mp3" -}} {{- $label = "S+" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-a.mp3" -}} {{- $label = "A" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-a2.mp3" -}} {{- $label = "A+" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-t.mp3" -}} {{- $label = "T" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-t2.mp3" -}} {{- $label = "T+" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-b.mp3" -}} {{- $label = "B" -}} {{- end -}}
        {{- if strings.HasSuffix $nameLower "-b2.mp3" -}} {{- $label = "B+" -}} {{- end -}}

        {{- $out = $out | append (printf "audio|%s|%s" $label $full) -}}

      {{- end -}}

    {{- end -}}

  {{- end -}}

{{- end -}}

{{- return $out -}}