{{ $title := .Get "title" }}
{{ $dir := .Get "dir" }}
{{ $base := .Get "base" }}

<details class="koor-item">
<summary><strong>{{ $title }}</strong></summary>

<div class="koor-item-content">

{{/* Image */}}
{{ $jpg := printf "static%s/%s.jpg" $dir $base }}
{{ $png := printf "static%s/%s.png" $dir $base }}

{{ if fileExists $jpg }}
    <figure class="koor-item-image">
      <img src="{{ printf "%s/%s.jpg" $dir $base }}" alt="{{ $title }}" />
    </figure>
{{ else if fileExists $png }}
    <figure class="koor-item-image">
      <img src="{{ printf "%s/%s.png" $dir $base }}" alt="{{ $title }}" />
    </figure>
{{ end }}

{{/* Link naar een externe bron */}}
{{ with .Get "link" }}
    <div class="koor-item-external-link">
      <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
        Open externe bron
      </a>
    </div>
{{ end }}

{{/* Bladmuziek */}}
{{ $pdf := printf "%s/%s.pdf" $dir $base }}
{{ $pdfFile := printf "static%s" $pdf }}
{{ if fileExists $pdfFile }}
    <div class="koor-item-pdf">
      <iframe
        src="/pdfjs/viewer.html?file={{ printf "/koor%s" $pdf }}&v={{ now.Unix }}"
        width="100%"
        height="800"
        title="Bladmuziek voor {{ $title }}">
      </iframe>
    </div>
{{ end }}

{{/* Audio: S, A, T, B en SATB */}}
<div class="koor-item-audio">
{{ $s := printf "static%s/%s.mp3" $dir $base }}
{{ if fileExists $s }}
    <div class="audio-group">
      <p><strong>SATB</strong></p>
      <audio controls src="{{ printf "%s/%s.mp3" $dir $base }}" title="SATB"></audio>
    </div>
{{ end }}

{{ $s := printf "static%s/%s-S.mp3" $dir $base }}
{{ if fileExists $s }}
    <div class="audio-group">
      <p><strong>&nbsp&nbsp&nbspS</strong></p>
      <audio controls src="{{ printf "%s/%s-S.mp3" $dir $base }}" title="Sopraan"></audio>
    </div>
{{ end }}

{{ $s := printf "static%s/%s-A.mp3" $dir $base }}
{{ if fileExists $s }}
    <div class="audio-group">
      <p><strong>&nbsp&nbsp&nbspA</strong></p>
      <audio controls src="{{ printf "%s/%s-A.mp3" $dir $base }}" title="Alt"></audio>
    </div>
{{ end }}

{{ $s := printf "static%s/%s-T.mp3" $dir $base }}
{{ if fileExists $s }}
    <div class="audio-group">
      <p><strong>&nbsp&nbsp&nbspT</strong></p>
      <audio controls src="{{ printf "%s/%s-T.mp3" $dir $base }}" title="Tenor"></audio>
    </div>
{{ end }}

{{ $s := printf "static%s/%s-B.mp3" $dir $base }}
{{ if fileExists $s }}
    <div class="audio-group">
      <p><strong>&nbsp&nbsp&nbspB</strong></p>
      <audio controls src="{{ printf "%s/%s-B.mp3" $dir $base }}" title="Bas"></audio>
    </div>
{{ end }}
</div>

</div>

</details>