{{ $title := .Get "title" }}
{{ $dir := .Get "dir" }}
{{ $base := .Get "base" }}

<details class="koor-item">
<summary><strong>{{ $title }}</strong></summary>

<div class="koor-item-content">

{{/* Image */}}
{{ $jpg := printf "static%s/%s.jpg" $dir $base }}
{{ $png := printf "static%s/%s.png" $dir $base }}

{{ if fileExists $jpg }}
    <figure class="koor-item-image">
      <img src="{{ printf "%s/%s.jpg" $dir $base }}" alt="{{ $title }}" />
    </figure>
{{ else if fileExists $png }}
    <figure class="koor-item-image">
      <img src="{{ printf "%s/%s.png" $dir $base }}" alt="{{ $title }}" />
    </figure>
{{ end }}

{{/* Link naar een externe bron */}}
{{ with .Get "link" }}
    <div class="koor-item-external-link">
      <a href="{{ . }}" target="_blank" rel="noopener noreferrer">
        Open externe bron
      </a>
    </div>
{{ end }}

{{/* Bladmuziek */}}
{{ $pdf := printf "%s/%s.pdf" $dir $base }}
{{ $pdfFile := printf "static%s" $pdf }}
{{ if fileExists $pdfFile }}
    <div class="koor-item-pdf">
      <iframe
        src="/pdfjs/viewer.html?file={{ printf "/koor%s" $pdf }}&v={{ now.Unix }}"
        width="100%"
        height="800"
        title="Bladmuziek voor {{ $title }}">
      </iframe>
    </div>
{{ end }}

{{/* Audio: S, A, T, B en SATB */}}
{{ $audioOptions := dict }}
{{/* Check files in specific order: SATB, S, S+, A, A+, T, T+, B, B+ */}}
{{ $satb := printf "static%s/%s.mp3" $dir $base }}
{{ if fileExists $satb }}
  {{ $audioOptions = merge $audioOptions (dict "SATB" (printf "%s/%s.mp3" $dir $base)) }}
{{ end }}
{{ $s := printf "static%s/%s-S.mp3" $dir $base }}
{{ if fileExists $s }}
  {{ $audioOptions = merge $audioOptions (dict "S" (printf "%s/%s-S.mp3" $dir $base)) }}
{{ end }}
{{ $s2 := printf "static%s/%s-S2.mp3" $dir $base }}
{{ if fileExists $s2 }}
  {{ $audioOptions = merge $audioOptions (dict "S+" (printf "%s/%s-S2.mp3" $dir $base)) }}
{{ end }}
{{ $a := printf "static%s/%s-A.mp3" $dir $base }}
{{ if fileExists $a }}
  {{ $audioOptions = merge $audioOptions (dict "A" (printf "%s/%s-A.mp3" $dir $base)) }}
{{ end }}
{{ $a2 := printf "static%s/%s-A2.mp3" $dir $base }}
{{ if fileExists $a2 }}
  {{ $audioOptions = merge $audioOptions (dict "A+" (printf "%s/%s-A2.mp3" $dir $base)) }}
{{ end }}
{{ $t := printf "static%s/%s-T.mp3" $dir $base }}
{{ if fileExists $t }}
  {{ $audioOptions = merge $audioOptions (dict "T" (printf "%s/%s-T.mp3" $dir $base)) }}
{{ end }}
{{ $t2 := printf "static%s/%s-T2.mp3" $dir $base }}
{{ if fileExists $t2 }}
  {{ $audioOptions = merge $audioOptions (dict "T+" (printf "%s/%s-T2.mp3" $dir $base)) }}
{{ end }}
{{ $b := printf "static%s/%s-B.mp3" $dir $base }}
{{ if fileExists $b }}
  {{ $audioOptions = merge $audioOptions (dict "B" (printf "%s/%s-B.mp3" $dir $base)) }}
{{ end }}
{{ $b2 := printf "static%s/%s-B2.mp3" $dir $base }}
{{ if fileExists $b2 }}
  {{ $audioOptions = merge $audioOptions (dict "B+" (printf "%s/%s-B2.mp3" $dir $base)) }}
{{ end }}

{{ if $audioOptions }}
<div class="koor-item-audio">
  <div class="audio-selector">
    <p><strong>Selecteer stem/partij:</strong></p>
    <div class="audio-buttons" data-audio-options='{{ $audioOptions | jsonify }}'>
      {{/* Render buttons in specific order */}}
      {{ if isset $audioOptions "SATB" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "SATB" }}" data-audio-type="SATB">
          SATB
        </button>
      {{ end }}
      {{ if isset $audioOptions "S" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "S" }}" data-audio-type="S">
          &nbsp;&nbsp;&nbsp;S
        </button>
      {{ end }}
      {{ if isset $audioOptions "S+" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "S+" }}" data-audio-type="S+">
          &nbsp;&nbsp;S+
        </button>
      {{ end }}
      {{ if isset $audioOptions "A" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "A" }}" data-audio-type="A">
          &nbsp;&nbsp;&nbsp;A
        </button>
      {{ end }}
      {{ if isset $audioOptions "A+" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "A+" }}" data-audio-type="A+">
          &nbsp;&nbsp;A+
        </button>
      {{ end }}
      {{ if isset $audioOptions "T" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "T" }}" data-audio-type="T">
          &nbsp;&nbsp;&nbsp;T
        </button>
      {{ end }}
      {{ if isset $audioOptions "T+" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "T+" }}" data-audio-type="T+">
          &nbsp;&nbsp;T+
        </button>
      {{ end }}
      {{ if isset $audioOptions "B" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "B" }}" data-audio-type="B">
          &nbsp;&nbsp;&nbsp;B
        </button>
      {{ end }}
      {{ if isset $audioOptions "B+" }}
        <button type="button" class="audio-select-btn" data-audio-src="{{ index $audioOptions "B+" }}" data-audio-type="B+">
          &nbsp;&nbsp;B+
        </button>
      {{ end }}
    </div>
  </div>
  <div class="audio-player">
    <audio controls id="audio-player-{{ $base | urlize }}"></audio>
  </div>
</div>
{{ end }}

</div>

</details>